# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
core/logs/*
core/media/discussion/replies/*
core/media/discussion/threads/*
core/media/sxcmodelset/*
core/media/updates/*

# IDE
.idea/

# Git
.git/
.gitignore

# Environment
core/.env