# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
ace-the-entrance/logs/*
ace-the-entrance/media/discussion/replies/*
ace-the-entrance/media/discussion/threads/*
ace-the-entrance/media/sxcmodelset/*
ace-the-entrance/media/updates/*

# IDE
.idea/

# Git
.git/
.gitignore
