/ace-the-entrance/.env
/ace-the-entrance/data/*
!/ace-the-entrance/data/topics.json
!/ace-the-entrance/data/sample-daily-questions.csv
!/ace-the-entrance/data/sample-sxc-model-set.csv
/todo.md
/.venv/
/ace-the-entrance/home/static/home/vendor/
ace-the-entrance/logs/*
!ace-the-entrance/logs/.gitkeep
/ace-the-entrance/media/discussion/thread/*
!ace-the-entrance/media/discussion/thread/.gitkeep
/ace-the-entrance/media/discussion/replies/*
!ace-the-entrance/media/discussion/replies/.gitkeep
/ace-the-entrance/media/sxcmodelset/*
!ace-the-entrance/media/sxcmodelset/.gitkeep
/ace-the-entrance/media/updates/images/*
!ace-the-entrance/media/updates/images/.gitkeep
