/ace-the-entrance/.env
/ace-the-entrance/data/*
!/ace-the-entrance/data/topics.json
!/ace-the-entrance/data/sample-daily-questions.csv
!/ace-the-entrance/data/sample-sxc-model-set.csv
/todo.md
/.venv/
/ace-the-entrance/home/static/home/vendor/
ace-the-entrance/logs/*
!ace-the-entrance/logs/.gitkeep
