.env
/core/data/*
!/core/data/topics.json
!/core/data/sample-daily-questions.csv
!/core/data/sample-sxc-model-set.csv
/todo.md
/.venv/
core/logs/*
!core/logs/.gitkeep
/core/media/discussion/thread/*
!core/media/discussion/thread/.gitkeep
/core/media/discussion/replies/*
!core/media/discussion/replies/.gitkeep
/core/media/sxcmodelset/*
!core/media/sxcmodelset/.gitkeep
/core/media/updates/images/*
!core/media/updates/images/.gitkeep
/core/staticfiles/
__pycache__/
