<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} {% endblock %}</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />
    {% block extra_css%} {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>

  </head>
  <body>
    <!-- navbar -->
    <!-- nav button -->
    {% block navbar %}
    {% endblock %}

    <!-- header -->
    {% block header %}
    {% endblock %}
    <!-- end of header -->

    {% block content %}
    {% endblock %}

    <!-- content divider -->
    {% block content_divider %}
    {% endblock %}
    <!-- end of content divider -->

    <!-- Features section -->
    {% block feature %}
    {% endblock %}
    <!-- end of feature section -->

    <!-- about section -->
    {% block about_book %}
    {% endblock %}
    <!-- end of about section -->

    <!-- authors -->
    {% block about_author %}
    {% endblock %}
    <!-- end of authors -->

    <!-- services -->
    {% block services %}
    {% endblock %}
    <!-- end of services -->

    <!-- contact -->
    {% block contact %}
    {% endblock %}
    <!-- end of contact -->

    <!-- footer -->
    {% block footer %}
    {% endblock %}

    {% block extra_js %} {% endblock %}
    <script type="text/javascript" src="{% static 'home/js/app.js' %}" ></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body, {
      delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError : false
      });">

    </script>
  </body>
</html>
